.hero {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}
#icon {
  width: 30vh;
  cursor: pointer;
  background: var(--secondary-color);
}
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}
